.flex {
	display: flex;
}

.flex-column {
	flex-flow: column;
}

.flex-space-between {
	justify-content: space-between;
}

.flex-justify-center {
	justify-content: center;
}

.flex-align-center {
	align-items: center;
}
