:root {
    --main-black: #343a40;
    --second-black: #212529;
    --translucent-black: #212529ef;
    --image-black: #181b1f;
  
    --main-white: #e9ecef;
    --second-white: #adb5bd;
  
    --main-blue: #3a86ff;
    --second-blue: #00b4d8;

    --main-green: #52b788;
    --second-green: #2dc653;

    --small-spacing: 5px;
    --medium-spacing: 10px;
    --large-spacing: 20px;
    --extra-large-spacing: 30px;

    --small-radius: 6px;
    --medium-radius: 16px;
}