.page-block__title {
  text-align: center;
}

.auth-form {
  gap: var(--medium-spacing);
  width: 300px;
}

.auth-area__input {
  margin-top: var(--small-spacing);
}

.error-info {
  text-align: center;
  color: #d00000;
}

.auth-form__help {
  text-align: end;
}

.auth-form__bttn {
  width: 100%;
}

.auth-form__span {
  text-align: center;
}

@media (max-width: 310px) {
  .auth-form {
    width: 100%;
  }
}
